$responsive: 800px;

body {
  // background-color: #120f26;
  background-color: #0e0c1f;
}

// html {
//   cursor: none;
// }

.all {
  color: black;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

// .title {
//   padding-left: 10px;
//   padding-top: 9px;
// }

.name {
  font-family: var(--font-mont-bold);
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 9px;
  padding-left: 10px;
  background-color: #f28559;
}

.role {
  font-family: var(--font-joyride);
  font-size: 18px;
  // border-top: 3px solid #3b3281;
  // border-bottom: 4px solid #3b3281;
  padding-top: 16px;
  position: relative;
  margin-top: 93px;
  color: #181721;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #ed702d;
  font-feature-settings: "salt" 2;
  overflow: hidden;
}

.mobile-links {
  font-family: var(--font-mont-semibold);
  font-size: 16px;
  border-bottom: 3px solid #ffa8e7;
  width: 100%;
  opacity: 1;
  z-index: 7;
  flex-direction: column;
  border-top: 3px solid #a8de13;
  box-sizing: border-box;
  margin-top: -3px;
  @media screen and (max-width: $responsive) {
    display: flex;
    opacity: 1;
    color: #ffa8e7;
    border-bottom: none;
    z-index: 2;
  }
}

.mobile-links {
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: -5;
  @media screen and (max-width: $responsive) {
    position: relative;
    z-index: 0;
    opacity: 1;
    color: #ffa8e7;
    border-top: 3px solid #a8de13;
    font-family: var(--font-mont-semibold);
    font-size: 16px;
  }
}

.mobile-links-row-1 {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #ffa8e7;
}

.mobile-links-row-2 {
  display: flex;
  flex-direction: row;
}

.mobile-link-github {
  width: 100%;
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mobile-link {
  width: 100%;
  padding: 6px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.link-icon {
  margin-top: 6px;
}

.mobile-link:hover .link-color {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(233deg)
    brightness(558%) contrast(101%);
}

.mobile-link:hover,
.mobile-link-github:hover {
  background-color: #ffa8e7;
  color: white;
  cursor: pointer;
}

.mobile-link-border-right {
  border-right: 3px solid #ffa8e7;
}

.section {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  height: 100%;
  justify-content: center;
  // background-color: red;
  // margin-top: -40px;
  min-height: 200px;
  box-sizing: border-box;
  border-top: 3px solid #ffa8e7;
  // min-height: 340px;
  // padding-top: 30px;
  // padding-bottom: 20px;
  @media screen and (max-width: $responsive) {
    // border-bottom: 3px solid #ffa8e7;
    border-top: none;
    margin-top: 0px;
  }
}

.game-section {
  display: flex;
  flex-direction: row;
  height: 100%;
  // background-color: red;
  min-height: 200px;
  box-sizing: border-box;
  border-top: 3px solid #ffa8e7;
  // min-height: 340px;
  // padding-top: 30px;
  // padding-bottom: 20px;
  @media screen and (max-width: $responsive) {
    // border-bottom: 3px solid #ffa8e7;
    border-top: none;
    margin-top: 0px;
    min-height: 289px;
  }
}

.game-position-center {
  justify-content: center;
  align-items: center;
}

.game-position-top {
  justify-content: center;
  align-items: flex-start;
  padding-top: 18px;
}

.game-position-bottom {
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 18px;
}

.game-position-left {
  justify-content: flex-start;
  align-items: center;
  margin-left: -5px;
}

.game-position-right {
  justify-content: flex-end;
  align-items: center;
}

.game-position-bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 18px;
}

.game-position-bottom-left {
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 18px;
  margin-left: -5px;
}

.game-position-top-left {
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0px;
  margin-left: -10px;
  padding-top: 18px;
}

.game-position-top-right {
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 3px;
  padding-top: 18px;
}

.game-background {
  background-color: #a8de13;
}

.game-start-stop:hover {
  cursor: pointer;
  color: #fdfdfd;
}

.move:hover svg {
  cursor: pointer;
}

@keyframes move-avatar {
  0% {
    margin-left: -25px;
    margin-top: 0px;
  }

  0.1% {
    margin-left: -25px;
  }

  12.4% {
    margin-left: -25px;
  }

  12.5% {
    margin-left: 0px;
  }

  24.9% {
    margin-left: 0px;
  }

  25% {
    margin-left: 25px;
  }

  37.4% {
    margin-left: 25px;
  }

  37.5% {
    margin-left: 0px;
    margin-top: 0px;
  }

  49.9% {
    margin-top: 0px;
  }

  50% {
    margin-top: -25px;
  }

  62.4% {
    margin-top: -25px;
  }

  62.5% {
    margin-top: 0px;
  }

  74.9% {
    margin-top: 0px;
  }

  75% {
    margin-top: 30px;
  }

  87.8% {
    margin-top: 30px;
  }

  87.9% {
    margin-top: 0px;
  }
}

.custom-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 26px;
  margin-top: 25px;
  margin-bottom: 14px;
  margin-left: -8px;
}

.options {
  display: flex;
  flex-direction: row;
  margin-left: -10px;
  flex-wrap: wrap;
}

.type {
  margin-bottom: -4px;
  color: white;
  font-family: var(--font-mont-semibold);
  font-size: 16px;
}

.item {
  margin-left: 10px;
  white-space: nowrap;
  padding: 8px 10px;
  color: #ed702d;
  font-size: 15px;
  // border-radius: 9px;
  margin-top: 10px;
  border: 2.5px solid #ed702d;
  box-shadow: 2px 2px 0px #ed702d;
  transition: box-shadow 0.15s;
  font-family: var(--font-mont-semibold);
}

.item:hover {
  background-color: #ed702d;
  box-shadow: 3.5px 3.5px 0px white;
  color: white;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.experience {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid #00c700;
  padding-left: 16px;
  background-color: black;
  color: yellow;
  font-family: var(--font-mont-semibold);
  font-size: 18px;
}

.top {
  display: flex;
  flex-direction: row;
  width: 35%;
  display: inline-flex;
  @media screen and (max-width: $responsive) {
    flex-direction: column;
    width: 100%;
  }
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border-right: 3px solid #ffa8e7;
  @media screen and (max-width: $responsive) {
    width: 100%;
    border-right: none;
  }
}

.top-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  @media screen and (max-width: $responsive) {
    flex-direction: column;
  }
}

.technologies-root {
  position: relative;
  z-index: 0;
  width: 65%;
  position: inline;
  @media screen and (max-width: $responsive) {
    width: 100%;
  }
}

.skills {
  width: 100%;
  box-sizing: border-box;
}

.container-border-top {
  border-top: 3px solid yellow;
}

.title {
  // border-right: 3px solid #ffa8e7;
  height: 100%;
  width: 100%;
  @media screen and (max-width: $responsive) {
    border-right: none;
  }
}

.links {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $responsive) {
    display: none;
  }
}

.technologies-parent {
  overflow: hidden;
  width: 100%;
}

.technologies-title {
  font-family: var(--font-canobis);
  font-size: 31px;
  color: #00e1ff;
  border-top: 3px solid #00e1ff;
  border-bottom: 3px solid #00e1ff;
  border-left: 3px solid #00e1ff;
  background-color: rgb(29, 15, 135);
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  @media screen and (max-width: $responsive) {
    border-left: none;
  }
}

.sticky-banner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  right: 0;
  margin-top: 95px;
}

.custom-stack-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 20px;
  background-color: #b41552;
  border-top: 3px solid #e2e913;
  border-bottom: 3px solid #e2e913;
  border-right: 3px solid #e2e913;
  padding-top: 27px;
  padding-bottom: 33px;
  padding-left: 10px;
  color: #e2e913;
  font-family: var(--font-bogam);
  padding-right: 8px;
  text-decoration: none;
  font-size: 36px;
  letter-spacing: 1.3px;
  width: 100%;
  position: relative;
  @media screen and (max-width: $responsive) {
    border-right: none;
  }
}

.show {
  position: relative;
  opacity: 1;
  z-index: 1;
  box-sizing: border-box;
}

.hidden {
  position: absolute;
  opacity: 0;
  z-index: -1;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.link-root {
  display: block;
  width: 100%;
}

.mobile-link-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  height: 20px;
  border-bottom: 3px solid #a8de13;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  color: #a8de13;
  font-size: 22px;
  font-family: var(--font-sango);
  padding-right: 8px;
  text-decoration: none;
  overflow: hidden;
  background-color: rgb(115, 117, 0);
  @media screen and (max-width: $responsive) {
    border-right: none;
  }
}

.link-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 20px;
  border-top: 3px solid #a8de13;
  border-right: 3px solid #a8de13;
  border-bottom: 3px solid #a8de13;
  background-color: rgb(115, 117, 0);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  color: #a8de13;
  padding-right: 8px;
  text-decoration: none;
  font-size: 22px;
  font-family: var(--font-sango);
  @media screen and (max-width: $responsive) {
    border-right: none;
  }
}

.link-parent-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #ffa8e7;
  font-family: var(--font-mont-semibold);
  padding-right: 8px;
  text-decoration: none;
  font-size: 15px;
  background-color: #120f26;
  @media screen and (max-width: $responsive) {
    border-right: none;
  }
}

.link-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 20px;
  border-top: 3px solid #ffa8e7;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #ffa8e7;
  font-family: var(--font-mont-semibold);
  padding-right: 8px;
  text-decoration: none;
  font-size: 15px;
  background-color: #120f26;
  @media screen and (max-width: $responsive) {
    border-right: none;
  }
}

.link-parent:hover,
.link-parent-first:hover {
  background-color: #ffa8e7;
  color: white;
  cursor: pointer;
}

.link-parent:hover .link-color,
.link-parent-first:hover .link-color {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(233deg)
    brightness(558%) contrast(101%);
}

// .link:hover,
// .sub-link:hover {
//   cursor: pointer;
// }

.game-controls {
  display: flex;
  flex-direction: row;
  color: #a8de13;
  justify-content: space-between;
  padding-left: 10px;
  padding-bottom: 11px;
  padding-right: 10px;
  font-family: var(--font-pixel);
  font-size: 17px;
  letter-spacing: 0.5px;
}

.less-speed {
  border: 3px solid #d2cd5e;
  padding: 1px 9px 5px 9px;
  margin-left: 10px;
}

.more-speed {
  border-right: 3px solid #d2cd5e;
  border-top: 3px solid #d2cd5e;
  border-bottom: 3px solid #d2cd5e;
  padding: 1px 9px 5px 9px;
}

.more-speed:hover,
.less-speed:hover {
  cursor: pointer;
  background-color: #d2cd5e;
  color: white;
}

.speed-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-link {
  border-top: 3px solid #9475bf;
  border-right: 3px solid #9475bf;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: var(--font-roboto-medium);
}

.sub-link:hover {
  background-color: #f9e585;
}

.experience-parent {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience-inline {
  padding: 39px 30px 0px 30px;
  max-width: 800px;
}

.website-1 {
  border-right: 4px solid #9475bf;
  border-top: 4px solid #9475bf;
  border-bottom: 4px solid #9475bf;
  color: #9475bf;
  box-shadow: 2px 2px 0px #9475bf;
  transition: box-shadow 0.15s;
}

.website-2 {
  border-right: 4px solid #ed702d;
  border-top: 4px solid #ed702d;
  border-bottom: 4px solid #ed702d;
  color: #ed702d;
}

.website-3 {
  border-right: 4px solid #ffff00;
  border-top: 4px solid #ffff00;
  border-bottom: 4px solid #ffff00;
  color: #ffff00;
}

.website-4 {
  border: 4px solid #ffff00;
  color: #ffff00;
}

.website-5 {
  border-right: 4px solid #00c700;
  border-top: 4px solid #00c700;
  border-bottom: 4px solid #00c700;
  color: #00c700;
}

.website-6 {
  border-right: 4px solid #5959ff;
  border-top: 4px solid #5959ff;
  border-bottom: 4px solid #5959ff;
  color: #5959ff;
}

.website-7 {
  border-right: 4px solid #ffa8e7;
  border-top: 4px solid #ffa8e7;
  border-bottom: 4px solid #ffa8e7;
  color: #ffa8e7;
}

.website-right {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  padding: 3px 10px 3px 16px;
  // border-radius: 9px;
  // margin-top: 15px;
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.website {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  padding: 3px 10px 3px 16px;
  // border-radius: 9px;
  // margin-top: 15px;
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  margin-bottom: 10px;
  margin-left: -22px;
}

.website-no-link {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  padding: 10px 16px 10px 20px;
  // border-radius: 9px;
  // margin-top: 15px;
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  margin-bottom: 10px;
  margin-left: -22px;
}

.experience-link {
  margin-top: 5.5px;
}

.website-1:hover .experience-link,
.website-2:hover .experience-link {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(233deg)
    brightness(558%) contrast(101%);
}

.website-3:hover .experience-link,
.website-4:hover .experience-link {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(233deg) brightness(0%)
    contrast(101%);
}

.website-text {
  margin-right: 6px;
}

.animate-1:hover {
  cursor: pointer;
  background-color: #9475bf;
  color: white;
  box-shadow: 3.5px 3.5px 0px white;
  transition: box-shadow 0.15s;
}

.animate-3:hover,
.animate-4:hover {
  cursor: pointer;
  background-color: #ffff00;
  color: #000000;
  box-shadow: 3.5px 3.5px 0px white;
  transition: box-shadow 0.15s;
}

.space {
  margin-left: 13px;
}

.experience-item {
  padding-left: 20px;
  margin-top: -16px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.experience-item-bottom {
  padding-left: 20px;
  margin-top: -16px;
  padding-bottom: 57px;
  padding-top: 30px;
}

.experience-border-1 {
  border-left: 5px solid #9475bf;
}

.experience-border-2 {
  border-left: 5px solid #ed702d;
}

.experience-border-3 {
  border-left: 5px solid #ffff00;
}

.experience-border-4 {
  border-left: 5px solid #00c700;
}

.experience-border-5 {
  border-left: 5px solid #5959ff;
}

.experience-border-6 {
  border-left: 5px solid #ffa8e7;
}

.bullet-point {
  background-color: black;
  width: 10px;
  height: 10px;
}

.description {
  display: flex;
  flex-direction: row;
}

.highlights {
  margin-left: -24px;
  font-family: var(--font-mont-medium);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: -6px;
  padding-bottom: 30px;
}

.highlight-item {
  margin-bottom: 10px;
  line-height: 1.3;
  margin-left: 8px;
  color: rgb(241, 241, 241);
}

.highlight-item-bottom {
  line-height: 1.3;
  margin-left: 8px;
  color: rgb(241, 241, 241);
}

.timeframe-1 {
  font-family: var(--font-mont-semibold);
  font-size: 16px;
  margin-left: 8px;
  color: #9475bf;
}

.timeframe-2 {
  font-family: var(--font-mont-semibold);
  font-size: 16px;
  margin-left: 8px;
  color: #ed702d;
}

.timeframe-3 {
  font-family: var(--font-mont-semibold);
  font-size: 16px;
  margin-left: 8px;
  color: #ffff00;
}

.timeframe-4 {
  font-family: var(--font-mont-semibold);
  font-size: 16px;
  margin-left: 8px;
  color: #00c700;
}

.timeframe-5 {
  font-family: var(--font-mont-semibold);
  font-size: 16px;
  margin-left: 8px;
  color: #5959ff;
}

.timeframe-6 {
  font-family: var(--font-mont-semibold);
  font-size: 16px;
  margin-left: 8px;
  color: #ffa8e7;
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.container {
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-fat);
  letter-spacing: 1px;
  font-size: 40px;
  padding-bottom: 7.5px;
  border-bottom: 3px solid yellow;
  background-color: black;
  color: yellow;
}

.emoji-frog {
  transform: translate(0px, 17px);
  margin-top: -15px;
  margin-left: 2px;
  margin-right: 2px;
}

.emoji-tv {
  transform: translate(0px, 6.5px);
  margin-top: -16px;
  margin-left: 8px;
  margin-right: 8px;
}

.emoji-pen {
  transform: translate(0px, 6.5px);
  margin-top: -16px;
  margin-left: 8px;
  margin-right: 8px;
}

.emoji-paint {
  transform: translate(0px, 6.5px);
  margin-top: -16px;
  margin-left: 8px;
  margin-right: 8px;
}

.emoji-hands {
  transform: translate(0px, 6.5px);
  margin-top: -16px;
  margin-left: 8px;
  margin-right: 8px;
}

.emoji-floppy {
  transform: translate(0px, 6.5px);
  margin-top: -16px;
  margin-left: 9px;
  margin-right: 9px;
}

.emoji-folder {
  transform: translate(0px, 6.5px);
  margin-top: -14px;
  margin-left: 10px;
  margin-right: 8px;
}

.emoji-dragon {
  transform: translate(0px, 8.8px);
  margin-top: -7.5px;
  margin-left: 7px;
  margin-right: 7px;
}

.emoji-popcorn {
  transform: translate(0px, 8.8px);
  margin-top: -2px;
  margin-bottom: 2px;
  margin-left: 6px;
  margin-right: 6px;
}

.emoji-eye {
  transform: translate(0px, 6.8px);
  margin-left: 7.5px;
  margin-right: 7px;
}

.emoji-mouse-mobile {
  transform: translate(0px, 5.9px);
  margin-top: -14px;
  margin-left: 7.5px;
  margin-right: 10px;
}

.emoji-mouse-desktop {
  transform: translate(0px, 12px);
  margin-top: -16px;
  margin-left: 9px;
  margin-right: 7px;
}

.emoji-crystal {
  transform: translate(0px, 6.8px);
  margin-top: -0.5px;
  margin-left: 10px;
  margin-right: 7px;
}

.emoji-devil {
  transform: translate(0px, 9px);
  margin-top: -10.5px;
  margin-left: 6px;
  margin-right: 6px;
}

.horizontal-scrolling-items {
  display: flex;
  // font-size: 18px;
  // width: 1850px;
  animation-name: infiniteScroll;
  // animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.horizontal-scrolling-items-name {
  display: flex;
  // font-size: 18px;
  // width: 6000px;
}

.horizontal-scrolling-items-role {
  display: flex;
  // font-size: 18px;
  // width: 2850px;
  animation-name: infiniteScroll;
  // animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.horizontal-scrolling-items-link {
  display: flex;
  // font-size: 18px;
  // width: 2850px;
  animation-name: infiniteScroll;
  // animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.horizontal-scrolling-items__item {
  white-space: nowrap;
  display: inline-block;
  animation-name: infiniteScroll;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.english-name {
  color: #fcd53f;
  // color: #45fd54;
}

.name-container {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 50px;
  padding-bottom: 11px;
  font-family: var(--font-dela);
  // color: #a375e3;
  color: #00d26a;
  padding-top: 8px;
  padding-left: 10px;
  background-color: #1b521e;
  position: fixed;
  z-index: 2;
  top: 0;
  border-bottom: 5px solid #fcd53f;
}

.name-horizontal-scrolling-items {
  display: flex;
  // width: 2488px;
  animation-name: infiniteScroll;
  // animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.name-horizontal-scrolling-items__item {
  white-space: nowrap;
}

.bottom-container {
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  background-color: rgb(218, 42, 42);
  padding-top: 10px;
  padding-bottom: 8px;
  color: black;
  border-top: 3px solid black;
  text-align: center;
  padding-left: 16px;
  font-family: var(--font-raider);
  font-size: 23px;
}

.bottom-container:hover {
  cursor: pointer;
}

.bottom-horizontal-scrolling-items {
  display: flex;
  // font-size: 16px;
  // width: 2180px;
  animation-name: infiniteScroll;
  // animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bottom-horizontal-scrolling-items:hover {
  cursor: pointer;
}

.bottom-horizontal-scrolling-items__item {
  white-space: nowrap;
}

// .circular-cursor {
//   height: 20px;
//   width: 20px;
//   border-radius: 50%;
//   -moz-border-radius: 50%;
//   -webkit-border-radius: 50%;
//   position: absolute;
//   z-index: 1;
//   scale: 100%;
//   transition: scale 0.15s;
// }

// .cursor-press {
//   scale: 75%;
//   transition: scale 0.1s;
// }

.progress-monster {
  position: fixed;
  top: 0;
  scale: 0.12;
  transform: translate(-1673px, -585px);
  z-index: 3;
}

// .progress-monster:hover {
//   cursor: pointer;
// }

.progress-bar {
  background-color: #9475bf;
  height: 13px;
  width: 0%;
  position: fixed;
  top: 0;
  z-index: 3;
  border-radius: 0 60px 60px 0;
}

.custom-stack {
  background-color: #6a2771;
  animation: changeColor 5s infinite;
  height: 100%;
  // min-height: 360px;
  @media screen and (max-width: $responsive) {
    border-bottom: 1px solid #6a2771;
  }
}

@keyframes changeColor {
  0% {
    background-color: #6a2771;
  }
  16.67% {
    background-color: #ed702d;
  }
  33.33% {
    background-color: #ffff00;
  }
  50% {
    background-color: #00c700;
  }
  66.67% {
    background-color: #5959ff;
  }
  83.33% {
    background-color: #da2a2a;
  }
  100% {
    background-color: #6a2771;
  }
}

.custom-stack-section {
  padding-left: 16px;
  margin-top: 8px;
}

.desktop-links {
  position: relative;
  z-index: 0;
  width: 100%;
  @media screen and (max-width: $responsive) {
    position: absolute;
    opacity: 0;
    z-index: -5;
  }
}

.custom-item {
  margin-left: 10px;
  white-space: nowrap;
  padding: 8px 10px;
  margin-bottom: 10px;
  color: #ffa8e7;
  font-size: 15px;
  // border-radius: 9px;
  // margin-top: 10px;
  border: 2.5px solid #ffa8e7;
  box-shadow: 2px 2px 0px #ffa8e7;
  transition: box-shadow 0.15s;
  font-family: var(--font-mont-semibold);
}

.custom-item:hover {
  cursor: pointer;
  background-color: #ffa8e7;
  box-shadow: 3.5px 3.5px 0px white;
  color: white;
}

.custom-type {
  margin-bottom: -5px;
  color: #257496;
  font-family: var(--font-mont-semibold);
  font-size: 16px;
}

.skill-section {
  padding-bottom: 16px;
}

.skill-section-parent {
  padding: 15px 20px 9px 20px;
}

.heart {
  animation: beat 2s linear infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(0.9);
  }
  21% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1);
  }
  35% {
    transform: scale(1);
  }
}

.timeframe-section-1 {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  padding-bottom: 8px;
  border-bottom: 5px solid #9475bf;
  box-sizing: border-box;
  display: inline-flex;
  margin-left: -20px;
  padding-left: 20px;
}

.timeframe-section-2 {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  padding-bottom: 8px;
  border-bottom: 5px solid #ed702d;
  box-sizing: border-box;
  display: inline-flex;
  margin-left: -20px;
  padding-left: 20px;
}

.timeframe-section-3 {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  padding-bottom: 8px;
  border-bottom: 5px solid #ffff00;
  box-sizing: border-box;
  display: inline-flex;
  margin-left: -20px;
  padding-left: 20px;
}

.timeframe-section-4 {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  padding-bottom: 8px;
  border-bottom: 5px solid #00c700;
  box-sizing: border-box;
  display: inline-flex;
  margin-left: -20px;
  padding-left: 20px;
}

.timeframe-section-5 {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  padding-bottom: 8px;
  border-bottom: 5px solid #5959ff;
  box-sizing: border-box;
  display: inline-flex;
  margin-left: -20px;
  padding-left: 20px;
}

.timeframe-section-6 {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  padding-bottom: 8px;
  border-bottom: 5px solid #ffa8e7;
  box-sizing: border-box;
  display: inline-flex;
  margin-left: -20px;
  padding-left: 20px;
}

.highlight-section {
  margin-top: 17px;
}

.experience-title-1 {
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  color: #9475bf;
}

.experience-title-2 {
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  color: #ed702d;
}

.experience-title-3 {
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  color: #ffff00;
}

.experience-title-4 {
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  color: #00c700;
}

.experience-title-5 {
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  color: #5959ff;
}

.experience-title-6 {
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  color: #ffa8e7;
}

.experience-summary {
  font-family: var(--font-mont-medium);
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 17px;
  line-height: 1.3;
  color: rgb(241, 241, 241);
}

.resume-color-highlight {
  color: rgb(241, 241, 241);
  animation: changeResumeColor 5s infinite;
}

@keyframes changeResumeColor {
  0% {
    color: #6a2771;
  }
  16.67% {
    color: #ed702d;
  }
  33.33% {
    color: #ffff00;
  }
  50% {
    color: #00c700;
  }
  66.67% {
    color: #5959ff;
  }
  83.33% {
    color: #da2a2a;
  }
  100% {
    color: #6a2771;
  }
}

@keyframes changeResumeColor2 {
  0% {
    color: #5959ff;
  }
  16.67% {
    color: #da2a2a;
  }
  33.33% {
    color: #6a2771;
  }
  50% {
    color: #ed702d;
  }
  66.67% {
    color: #ffff00;
  }
  83.33% {
    color: #00c700;
  }
  100% {
    color: #5959ff;
  }
}

.create-stack-1 {
  white-space: nowrap;
  display: inline-block;
  padding: 6px 10px 8px;
  // border-radius: 9px;
  border: 2.5px solid #9475bf;
  color: #9475bf;
  box-shadow: 2px 2px 0px #9475bf;
  transition: box-shadow 0.15s;
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  margin-bottom: 14px;
  margin-left: 6px;
}

.create-stack-1:hover {
  cursor: pointer;
  background-color: #9475bf;
  color: white;
  box-shadow: 3.5px 3.5px 0px white;
  transition: box-shadow 0.15s;
}

.create-stack-2 {
  white-space: nowrap;
  display: inline-block;
  padding: 6px 10px 8px;
  // border-radius: 9px;
  border: 2.5px solid #ed702d;
  color: #ed702d;
  box-shadow: 2px 2px 0px #ed702d;
  transition: box-shadow 0.15s;
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  margin-bottom: 24px;
  margin-left: 10px;
}

.create-stack-2:hover {
  cursor: pointer;
  background-color: #ed702d;
  color: white;
  box-shadow: 3.5px 3.5px 0px white;
  transition: box-shadow 0.15s;
}

.create-stack-3 {
  white-space: nowrap;
  display: inline-block;
  padding: 6px 10px 8px;
  // border-radius: 9px;
  border: 2.5px solid #ffff00;
  color: #ffff00;
  box-shadow: 2px 2px 0px #ffff00;
  transition: box-shadow 0.15s;
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  margin-bottom: 16px;
  margin-top: 3px;
  margin-left: 10px;
}

.create-stack-3:hover {
  cursor: pointer;
  background-color: #ffff00;
  color: black;
  box-shadow: 3.5px 3.5px 0px white;
  transition: box-shadow 0.15s;
}

.clear-all {
  white-space: nowrap;
  display: inline-block;
  padding: 6px 10px;
  // border-radius: 9px;
  border: 2.5px solid #000000;
  box-shadow: 2px 2px 0px #000000;
  color: #000000;
  transition: box-shadow 0.15s;
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  // margin-bottom: 17px;
  margin-top: 18px;
}

.clear-all:hover {
  cursor: pointer;
  background-color: #000000;
  box-shadow: 3.5px 3.5px 0px white;
  color: white;
  transition: box-shadow 0.15s;
}

.cannot-predict-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.theater {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.theater-seek {
  display: flex;
  flex-direction: row;
  height: 35px;
  width: 100%;
  font-family: var(--font-dirtyline);
}

.theater-seek-prev {
  width: 100%;
  border-right: 3px solid #e3a445;
  border-bottom: 3px solid #e3a445;
  border-left: 3px solid #e3a445;
  color: #e3a445;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
}

.theater-seek-next {
  width: 100%;
  display: flex;
  border-right: 3px solid #e3a445;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 3px solid #e3a445;
  color: #e3a445;
  padding-top: 4px;
  padding-left: 15px;
  padding-right: 15px;
}

.theater-seek-next:hover,
.theater-seek-prev:hover {
  cursor: pointer;
  background-color: #e3a445;
  color: white;
}

.theater-parent {
  background-color: black;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.player-parent {
  width: 100%;
}

.player-wrapper-1 {
  position: relative;
  opacity: 1;
  padding-top: 56.4%;
}

.player-wrapper-2 {
  position: relative;
  opacity: 1;
  padding-top: 41.7%;
}

.player-wrapper-3 {
  position: relative;
  opacity: 1;
  padding-top: 42.5%;
}

.player-wrapper-4 {
  position: relative;
  opacity: 1;
  padding-top: 56.4%;
}

.hide-player-wrapper {
  position: relative;
  opacity: 0;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -0.7px;
  width: 100%;
  height: 100%;
}

.video-load {
  // width: 100%;
  // height: 40vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaded {
  opacity: 1;
}

.description-parent {
  padding-top: 25px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
}

.video-title {
  font-family: var(--font-dirtyline);
  letter-spacing: 1.5px;
  font-size: 20px;
  color: #e3a445;
}

.video-role {
  font-family: var(--font-mont-semibold);
  font-size: 17px;
  margin-top: 6px;
}

.video-role-highlight {
  animation: changeResumeColor 5s infinite;
}

.video-description-highlight {
  animation: changeResumeColor2 5s infinite;
}

.video-description {
  font-family: var(--font-mont-medium);
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.4;
}

.theater-title {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--font-dirtyline);
  letter-spacing: 1px;
  // padding-top: 2px;
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 3px solid #e3a445;
  border-top: 3px solid #e3a445;
  background-color: #d90717;
  color: #e3a445;
}

.show-bottom-banner {
  animation: showBottomBanner 2s;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  background-color: rgb(218, 42, 42);
  padding-top: 10px;
  padding-bottom: 8px;
  color: black;
  border-top: 3px solid black;
  text-align: center;
  padding-left: 16px;
  font-family: var(--font-raider);
  font-size: 23px;
  transition: bottom 0.8s ease;
}

.show-bottom-banner:hover {
  cursor: pointer;
}

.hide-bottom-banner {
  width: 100%;
  bottom: -100px;
  left: 0;
  margin-top: 300px;
  position: fixed;
  overflow-x: hidden;
  background-color: rgb(218, 42, 42);
  padding-top: 10px;
  padding-bottom: 8px;
  color: black;
  border-top: 3px solid black;
  text-align: center;
  padding-left: 16px;
  font-family: var(--font-raider);
  font-size: 23px;
  transition: bottom 1.5s ease;
}

.resume-dot {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  margin-top: -30px;
  margin-left: -7.5px;
  animation: rotate-animation 14s infinite linear;
}

.resume-small-dot {
  margin-top: -7.5px;
  margin-left: 173px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  position: absolute;
  animation: rotate-animation 14s infinite linear;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.drink-1 {
  animation-name: drink1;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes drink1 {
  0% {
    opacity: 1;
  }
  24.9% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}

.drink-2 {
  animation-name: drink2;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes drink2 {
  0% {
    opacity: 1;
  }
  49.9% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}

.drink-3 {
  animation-name: drink3;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes drink3 {
  0% {
    opacity: 1;
  }
  74.9% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}

.italics {
  font-style: italic;
}

.experience-location-parent {
  margin-bottom: 17px;
}

.experience-location {
  font-style: italic;
  font-family: var(--font-mont-medium);
  font-size: 17px;
}

.awards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}

.awards-pic-1 {
  width: 80%;
  max-width: 500px;
}

.awards-pic-2 {
  width: 80%;
  max-width: 400px;
}

.photo-selection-parent {
  display: flex;
  color: #ffa8e7;
  // height: 70px;
  font-family: var(--font-pixel);
  @media screen and (max-width: $responsive) {
    border-bottom: 3px solid #ffa8e7;
  }
}

.digital-photo {
  border-right: 3px solid #ffa8e7;
  padding: 10px;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.irl-photo {
  padding: 10px;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digital-photo:hover,
.irl-photo:hover {
  background-color: #ffa8e7;
  cursor: pointer;
  color: #ffffff;
}

.digital-photo-selected {
  background-color: #ffa8e7;
  border-right: 3px solid #ffa8e7;
  padding: 10px;
  width: 50%;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.irl-photo-selected {
  background-color: #ffa8e7;
  padding: 10px;
  width: 50%;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 260px; /* Adjust the percentage to your needs */
  height: auto;
  background-color: #ffffff;
  rotate: -3deg;
  transform: scale(1);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  @media screen and (max-width: $responsive) {
    width: 230px;
  }
}

.photo:hover {
  animation: photoEnlarge 0.3s forwards;
}

.photo:not(:hover) {
  animation: photoEnlargeReverse 0.3s forwards;
}

@keyframes photoEnlarge {
  0% {
    transform: scale(1);
    rotate: -3deg;
  }
  100% {
    transform: scale(1.1);
    rotate: 3deg;
  }
}

@keyframes photoEnlargeReverse {
  0% {
    transform: scale(1.1);
    rotate: 3deg;
  }
  100% {
    transform: scale(1);
    rotate: -3deg;
  }
}

.photo-section {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  box-sizing: border-box;
  border-top: 3px solid #ffa8e7;
  @media screen and (max-width: $responsive) {
    border-top: none;
    margin-top: 0px;
    min-height: 319px;
  }
}
